header {
    background-color:rgb(108, 201, 149);
    height:90px;
}
.header-logo h3{
    float:left;
    color:white;
    letter-spacing: normal;
    padding-left:15px;
    padding-top:3px; 
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-list li{
    float:right;
    padding-left: 80px;
    padding-top: 35px;
    padding-right: 40px;
    list-style: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
li:hover{
    color:black;
    cursor: pointer;
}
main h1{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 90px;
}
main img{
    height: 300px;
    width: 350px;
}
main h3{
    color: dodgerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    font-size: 50px;
    padding: 25px;
    border-bottom:1px solid rgb(41, 43, 44);
}
main p{
    font-size: 25px;
    padding-left: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(40, 173, 151);
}
.project a{
    padding-left: 10px;
}
footer{
    background-color: black;
    height: 110px;
    opacity: 0.7;
}
.footer-logo h3 {
    float: left;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer-list li {
   float: right;
    padding-left: 80px;
    padding-top: 75px;
    list-style: none;
    color: white;
    font-size: 25px;
}